$fa-font-path:"../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome";
#app-box{
    font-family: 'Press Start 2P', cursive;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0px;

    form.search-form{
        width: 400px;
        height: 100px;
        position: relative;
        margin: 0 auto;

        input{
            font-family: 'Press Start 2P', cursive;
            width: 100%;
            border-radius: 10px;
            height: 50px;
            text-align: center;
            font-size: 30px;
            outline: none;
        }

        button{
            height: 50px;
            width: 50px;
            position: absolute;
            right: 0;
            cursor: pointer;
            background: none;
            border: none;
            outline: none;
        }
    }

    ul.results-container{
        width: 100%;

        li{
            width: calc(100%/3);
            display: inline-block;
            background: #383838;
            position: relative;

            @media (max-width: 600px) {
                width: 50%;
            }

            @media (max-width: 400px) {
                width: 100%;
            }

            &:hover{
                img{
                    opacity: 0.5;
                }
                div{
                    display: inline;
                }
            }

            img{
                display: block;
                margin: 0 auto;
                width: 100%;
            }

            div{
                display: none;

                width: 100%;
                text-align: center;
                color: white;
                position: absolute;
                top: 50%;
                line-height: 20px;
            }
        }
    }

    div.recipe-container{
        max-width: 600px;
        margin: 0 auto;

        h2{
            font-size: 30px;
            text-align: center;
        }

        img{
            width: 100%;
            max-width: 400px;
            min-height: 250px;
            margin: 25px auto;
            display: block;
        }

        li{
            position: relative;
            font-size: 20px;
            line-height: 40px;
            vertical-align: middle;
            padding-left: 30px;

            span{
                font-size: 30px;
                position: absolute;
                left: 0;
                top: 5px;
            }
        }
    }
}